{% extends 'registration/base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      {% if form.errors %}
        <p>Oops! Some information might be incorrect or missing</p>
      {% endif %}
      <div style="padding:10px;" class="card">
        <div class="card-title">
          <h3 class="text-center">Hood - Sign Up</h3>
        </div>
        <hr>
        <div class="card-text">
          <form class="" action="/accounts/register/" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <p>Already have an account?<a href="/login">Login</a></p>
            <div class="form-group">
              <input type="submit" class="btn btn-danger" value="Sign Up">
            </div>
            <input type="hidden" name="next" value="{{next}}">
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
{% endblock %}
